<app-header [titulo]="titulo || 'Alert Page'"></app-header>

<!-- <ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button text="Atras" defaultHref="/"></ion-back-button>
        </ion-buttons>
    <ion-title>alert</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>

  <ion-button expand="full" color="dark" (click)="presentAlert()">
    Ion Alert
  </ion-button>

  <ion-button expand="full" color="danger" (click)="presentAlertPrompt()">
      Ion prompt
    </ion-button>

</ion-content>
