<app-header titulo="Card"></app-header>

<ion-content>

  <ion-card color="dark">
    <ion-card-header>
        <ion-card-subtitle>Subtitulo de la card</ion-card-subtitle>
        <ion-card-title>Titulo de la card</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia voluptas ratione maiores tempore pariatur quam reprehenderit voluptatibus quae. Sunt quas possimus sit est excepturi distinctio adipisci officia quo aliquam ullam.
    </ion-card-content>

  </ion-card>

  <ion-card >
    <ion-item color="dark">
      <ion-icon slot="start" name="pin"></ion-icon>
      <ion-label>Marcador</ion-label>
    </ion-item>
    <ion-card-content>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illo reprehenderit quam vel maiores quaerat atque quod blanditiis nobis assumenda ex. Error quae minima nihil voluptatem eligendi voluptate et dicta ipsum!
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-img src="/assets/shapes.svg"></ion-img>
    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero doloremque consequatur cum sapiente. Sed fugit ipsum vel explicabo natus iste! Eos, iusto! Velit, dolorem. Eum labore corporis dolore cum eligendi!
    </ion-card-content>
  </ion-card>

</ion-content>
